# Large files
frontend.zip
*.zip
*.tar.gz
*.rar

# Miscellaneous
*.class
*.log
*.pyc
*.pyo
*.swp
*.swo
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# OS related
Thumbs.db
Desktop.ini

# Build output
frontend/build/
frontend/build - Copy/
**/build/
*.apk

# Django / Python
__pycache__/
db.sqlite3
.env
venv/
env/
backend/venv/
